.warning-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:red;
    font-size: 24px;
    @media screen and (max-width: 600px){
        font-size: 12px;
        }
}

.stripeButton{
    margin-left: 40vw ;
}