.header {
    height: 8vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 8vw;
      padding: 3vw;
      @media screen and (max-width: 800px) {
          width: 40px;
          height: 30px
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .hover{
        color: honeydew;
        transform: scale(1.2);
      }
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
      .icon {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 600px, max-width) {
          display: block;
        }
        .menu-content{
          width: 100vw;
          height: 4vw;
          background-color: rgb(206, 200, 200);
        }
      }
    }
  }
  